@media (max-width:440px) {
    .buttonNavHeader {
        display: block !important;
    }
    .header-nav-links{
        position: absolute;
        display: block !important;
        top: 56px;
        z-index: 1;
        background: white;
        width: 100%;
        margin: 0;
        left: -409px;
        border-top: 1px solid #fff7f7;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    .header-nav-links.active{left: 0;}
    .header-nav-links button{
        width: 100%;
    }
    .buttonNavHeader_Close{
        display: block !important;
        width: 21px !important;
        height: 22px;
        position: absolute !important;
        top: -17px;
        z-index: 2;
        right: 13px;
    }
}